body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

header {
    background-color: #d4e8d9;
    height: 60px;
    display: flex;
    align-items: center;
}

.box {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.header1 {
    color: green;
    display: flex;
}

.star {
    width: 40px;
    height: 40px;
}

.qwert {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: end;
}

.corzina {
    width: 20px;
    height: 20px;
}

.main-div {
    background-color: white;
    justify-content: center;
    padding: 0px 120px;
    font-family: 'Raleway', sans-serif;
    max-width: 1200px;
    margin: 0 auto;     
    padding: 0 20px;
}

.head-main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 80px 0;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.bird {
    width: 500px;
    border-radius: 30px;
}

.word-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    max-width: 500px;
}

.wormain {
    font-size: 60px;
    font-weight: 500;
    color: #2C2D35;
    line-height: 1.1;
    margin: 0;
}

span {
    color: #5F8C69;
}

.content {
    color: #2C2D35;
    opacity: 0.6;
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
}

.button-main {
    border: 1px solid #5F8C69;
    background: transparent;
    color: #5F8C69;
    font-size: 18px;
    padding: 14px 48px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button-main:hover {
    background-color: #5F8C69;
    color: white;
}

.wormain{
    font-weight: 500;
    font-size: 60px
}
span{
    color: #5f8c69;
}
.content{
    opacity: 40%;
}
.main-botton {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-right: 152px;
    padding-left: 7px;
}

.main-repro {
    margin: 0;
    font-weight: 500;
    font-size: 40px;
    line-height: 110%;
    color: #2C2D35;
}

.main-country {
    display: flex;
    align-items: center;
    gap: 20px;
}
.main-place {
    color: #2C2D35;
    background-color: #E1EDE6;
    padding: 10px 24px;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.main-place:hover,
.main-place.active {
    background-color: #598D66;
    color: white;
}
.main-menu{
    display: flex;
    gap: 12px;
    
}

.div-dama{
    background-color: #e1ede6;
    padding: 10px;
    margin: 10px;
    font-family:"Raleway", sans-serif;
    justify-content: center;
    box-sizing: border-box;
    display:inline-block
    

}   
.name-dama{
    color: #86928b;

}
.main-name{
    margin-top: -10px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    line-height: 35px;
}
.main-product{
    margin-top: -10px;
}

.price-dama{
    color: #3D775C;
    width: 200px;
    height: 20pxs;
}
.main-korzina{
    border: 1px solid #3D775C;
    width: 200px;
    height: 20px;
    padding: 5px;
    color: #3D775C;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
    text-align: center;

}
.main-korzina:hover{
    background-color: #5f8c69; 
    color: white;             
    border: none;             
    cursor: pointer;
}

.collection {
    position:relative;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background-image: url('phottto.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;
    color: white;
    filter: brightness(0.8);
}  
.collect{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 80px 0;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.collection::before {
    content: "";
    position: absolute;
    inset: 0;
}

.collection-content {
    position: relative;
    max-width: 550px;
    margin-left: 200px;
}

.collection-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
}

.collection h2 {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 20px;
    color: white;
}

.collection p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 16px;
    color: white;
}

.collection-button {
    background-color: #EEDB6D;
    border: none;
    padding: 16px 40px;
    font-size: 18px;
    cursor: pointer;
    color: #2C2D35;
    transition: background-color 0.3s ease;
}

.collection-button:hover{
    background-color: #d5ca82;
}
.end{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 80px 0;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}
.h-two{    
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 20px;
}
.znazim{
    font-weight: 20;
    font-size: 14px;
    line-height: 150%
}

footer {
    background-color: #d4e8d9;
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15%;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 120px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}
.inform{
    width: 100%;
}
.republik{
    width: 100%;
}
.years{
    width: 100%;
}
.profession{
    width: 100%;
}
.ikon{
    width: 100%;
}
.footer-InkHouse{
    color: #3D775C;
    font-weight: 100;
    font-size: 18px;
}

.footer-Word {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 100;
    font-size: 18px;
}

.oppos {
    color: #86928b;
}

.apps {
    width: 24px;
    height: 24px;
    margin-right: 16px;
    padding: 0;
    vertical-align: middle;
}